#######################################################
#                                                      
#       git management rule Settings                   
#       ! means need add to git                        
#       otherwise means need to ignore                 
#                                                      
# Can test by "git status -u" check if rules valid   
#                                                      
#######################################################
# ignore all files in root directory
/*
# except ".gitignore" file 
!.gitignore
# except ".readme.md" file 
!readme.md
# except map directory
!/map/
/map/*
# ignore myrtl_test directory in map directory
!/map/myrtl_test/
/map/myrtl_test/*
!/map/myrtl_test/*.xpr
!/map/myrtl_test/*.ip_user_files
!/map/cube_global/*.runs
/map/cube_global/*.runs/*
!/map/cube_global/*.runs/impl_1
/map/cube_global/*.runs/impl_1/*
!/map/cube_global/*.runs/impl_1/*.rpt
!/map/cube_global/*.runs/impl_1/*.bit
!/map/cube_global/*.runs/impl_1/*.ltx
!/map/tcl/
!/map/*.tcl
# script directory
!/script/
/script/*
/FPGA_PRJ/script/*.wlf
/FPGA_PRJ/script/*.vcd
# sim directory
!/sim/
# src directory
!/src/
