#######################################################
#                                                      
#       git management rule Settings                   
#       ! means need add to git                        
#       otherwise means need to ignore                 
#                                                      
# Can test by "git status -u" check if rules valid   
#                                                      
#######################################################
# ignore all files in root directory
/*
# except ".gitignore" file 
!.gitignore
# except ".readme.md" file 
!readme.md
# except map directory
!/map/
# ignore myrtl_test directory in map directory
/map/myrtl_test/*
/map/*.bat
/map/*.jou
/map/*.log
/map/*.str
!/map/vitis/
/map/vitis/*
!/map/vitis/*.xsa
!/map/vitis/*.bit
!/map/vitis/myrtl_test/
/map/vitis/myrtl_test/*
!/map/vitis/myrtl_test/src/
/map/vitis/myrtl_test/src/*
!/map/vitis/myrtl_test/src/*.c
!/map/vitis/myrtl_test/src/*.h
!/map/vitis/myrtl_test/src/*.ld
# script directory
!/script/
/script/*
!/script/*.bat
!/script/*.do
!/script/*.v
# sim directory
!/sim/
# src directory
!/src/
/src/bd/*
# bd directory
!/src/bd/*.tcl
# coe directory
!/src/coe/*
# constrs directory
!/src/constrs/*
# elf directory
!/src/elf/*
# src code directory
!/src/imports/*
# ip directory
# ila ip directory
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_bit_delay/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_bit_delay/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_bit_delay/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_bit_delay/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_combine/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_combine/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_combine/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_combine/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_counter_ui/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_counter_ui/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_counter_ui/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_counter_ui/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_cpri_data/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_cpri_data/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_cpri_data/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_cpri_data/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_cpri_test/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_cpri_test/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_cpri_test/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_cpri_test/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_app_read/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_app_read/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_app_read/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_app_read/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_app_write/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_app_write/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_app_write/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_app_write/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_din/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_din/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_din/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_din/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_dout/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_dout/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_dout/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_dout/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_gain/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_gain/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_gain/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_gain/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_out/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_out/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_out/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_out/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_temp/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_temp/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_temp/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_temp/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_test/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_test/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_test/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_test/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_test1/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_test1/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_test1/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_ddr_test1/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_event_cache/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_event_cache/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_event_cache/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_event_cache/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_gain_ui/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_gain_ui/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_gain_ui/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_gain_ui/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_instr_cache/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_instr_cache/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_instr_cache/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_instr_cache/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_iq_judge/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_iq_judge/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_iq_judge/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_iq_judge/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_jesd_tx/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_jesd_tx/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_jesd_tx/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_jesd_tx/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_power_duc/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_power_duc/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_power_duc/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_power_duc/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_power_measure_debug/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_power_measure_debug/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_power_measure_debug/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_power_measure_debug/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_power_measure_fb1/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_power_measure_fb1/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_power_measure_fb1/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_power_measure_fb1/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_pre_rd_dly/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_pre_rd_dly/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_pre_rd_dly/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_pre_rd_dly/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_rddr_data_convert/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_rddr_data_convert/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_rddr_data_convert/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_rddr_data_convert/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_rx_from_au/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_rx_from_au/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_rx_from_au/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_rx_from_au/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_source_sel/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_source_sel/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_source_sel/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_source_sel/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_stab_band_gain/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_stab_band_gain/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_stab_band_gain/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_stab_band_gain/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_temp/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_temp/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_temp/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/ila_temp/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/vio_ddr_ctrl/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/vio_ddr_ctrl/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/vio_ddr_ctrl/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/vio_ddr_ctrl/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/vio_gain/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/vio_gain/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/vio_gain/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/vio_gain/*.prj
!/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/vio_iq_judge_out/
/src/ip_ila/U/X2RU_2024_1025/src/ip_debug/vio_iq_judge_out/*
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/vio_iq_judge_out/*.xci
!src/ip_ila/U/X2RU_2024_1025/src/ip_debug/vio_iq_judge_out/*.prj
# ip_repo directory
!/src/ip_repo/*
